html, body {
    height: 100%;
  }
.landing{
    height: 100%;
    .firstPlane{
        
        height: 100%;
        /* Create the parallax scrolling effect */
        background-color: #1e1e1e;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0000002e;
            height: 100%;
            width: 100%;
            
        }
    }
}